<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="dev.sasikanth.pinnit">

  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

  <application
    android:name=".PinnitApp"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.Pinnit"
    tools:ignore="AllowBackup">

    <activity android:name=".SplashActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@xml/shortcuts" />
    </activity>

    <activity
      android:name=".activity.MainActivity"
      android:theme="@style/Theme.Pinnit.Main"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".ShortcutReceiverActivity"
      android:taskAffinity="">
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/plain" />
      </intent-filter>
    </activity>

    <activity
      android:name=".qspopup.QsPopupActivity"
      android:theme="@style/Theme.Pinnit.QsPopup" />

    <service
      android:name=".background.services.NotificationsListener"
      android:exported="false"
      android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
      <intent-filter>
        <action android:name="android.service.notification.NotificationListenerService" />
      </intent-filter>
    </service>

    <service
      android:name=".background.services.QsPopupService"
      android:icon="@drawable/ic_qs_app_icon"
      android:label="@string/app_name"
      android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
      <intent-filter>
        <action android:name="android.service.quicksettings.action.QS_TILE" />
      </intent-filter>
    </service>

    <receiver
      android:name=".background.receivers.UnpinNotificationReceiver"
      android:enabled="true"
      android:exported="false">
      <intent-filter>
        <action android:name="dev.sasikanth.pinnit.system.action.NotificationUnpin" />
      </intent-filter>
    </receiver>

    <receiver android:name=".background.receivers.BootCompletedReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>

  </application>

</manifest>
