name: Android Play Store release builds

on:
  workflow_dispatch:
    inputs:
      tramline-input:
        description: "Tramline input"
        required: false

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TERM: dumb
      ORG_GRADLE_PROJECT_PINNIT_KEYSTORE_PASSWORD: ${{ secrets.PINNIT_KEYSTORE_PASSWORD }}
      ORG_GRADLE_PROJECT_PINNIT_KEY_PASSWORD: ${{ secrets.PINNIT_KEY_PASSWORD }}
    steps:
      - name: Configure Tramline
        id: tramline
        uses: tramlinehq/deploy-action@v0.1.6
        with:
          input: ${{ github.event.inputs.tramline-input }}

      - name: Setup versionName regardless of how this action is triggered
        id: version_name
        run: |
          WORKFLOW_INPUT=${{ steps.tramline.outputs.version_name }}
          VERSION_NAME=${WORKFLOW_INPUT:-"1.0.0"}
          echo "ORG_GRADLE_PROJECT_VERSION_NAME=$VERSION_NAME" >> $GITHUB_ENV

      - name: Setup versionCode regardless of how this action is triggered
        id: version_code
        run: |
          WORKFLOW_INPUT=${{ steps.tramline.outputs.version_code }}
          VERSION_CODE=${WORKFLOW_INPUT:-"1"}
          echo "ORG_GRADLE_PROJECT_VERSION_CODE=$VERSION_CODE" >> $GITHUB_ENV

      - uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: zulu
          cache: 'gradle'

      - name: Decrypt secrets
        run: gpg --batch --yes --quiet --decrypt --passphrase=${{ secrets.ENCRYPT_KEY }} --output release/app-release.jks release/app-release.gpg

      - name: Build release artifact
        run: ./gradlew bundle

      - name: Upload Release Bundle
        uses: actions/upload-artifact@v3
        with:
          name: release-aab
          path: app/build/outputs/bundle/release/app-release.aab

      - name: Clean secrets
        run: |
          rm -f release/app-release.jks
